.card {
  width: 300px;
  padding: 20px;
  margin: 10px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  font-family: 'Arial, sans-serif';
}

.card h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #666666;
}

.nav-bar {
  background-color: pink;
}
